body {
    background-color: beige;
    color: brown;
    font-family: Impact;
}

h1 {
    font-weight: bold;
    color: green;
}

h2 {
    color: red;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-style: italic;
}


h4 {
    font-family: 'Segoe UI';
    font-style: oblique;
    color: blueviolet;
    background-color: yellow;
}

h5 {
    font-family: Arial;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    color: #a02434;
    font-kerning: none;
}

h6 {
    font-family: Arial;
    font-size: 60pt;
    font-style: italic;
    font-weight: bold;
    color: #1c1774;
    font-kerning: normal;
    line-height: 0.001;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

#desafio { 
    color: #828282 
}

