body {
    background-color: beige;
    color: brown;
    font-family: Impact;
    margin-left: 100px;
    font-size: 50pt
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: green;
    margin-bottom:0px;
    border:none;
    padding-bottom: 0px;
}

h2 {
    color: red;
    font-size: 1.5em
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-style: italic;

}


h4 {
    font-size: 1em;
    font-family: 'Segoe UI';
    font-style: oblique;
    color: blueviolet;
    background-color: yellow;
}

h5 {
    font-family: Arial;
    font-size: 0.8px;
    font-style: italic;
    font-weight: bold;
    color: #a02434;
    font-kerning: none;
}

h6 {
    font-family: Arial;
    font-size: 0.6em;
    font-style: italic;
    font-weight: bold;
    color: #1c1774;
    font-kerning: normal;
    line-height: 0.001;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

#desafio { 
    color: #828282 
}

#pc {
    width: 80%;
    margin-top: 0px;
    padding-top:40px;
    border-width: 20px;
    border-color: blue;
    border-style:solid ;
}

