body {
    background-color: beige;
    color: brown;
    font-family: Impact;
    
    font-size: 10pt
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: green;
    margin-bottom:0px;
    border:none;
    padding-bottom: 0px;
}

.titulos-main {
    font-size: 3em;
    color:#a02434;
    font-family: Verdana;

}

h2 {
    color: red;
    font-size: 1.5em
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-style: italic;

}


h4 {
    font-size: 1em;
    font-family: 'Segoe UI';
    font-style: oblique;
    color: blueviolet;
    background-color: yellow;
}

h5 {
    font-family: Arial;
    font-size: 0.8px;
    font-style: italic;
    font-weight: bold;
    color: #a02434;
    font-kerning: none;
}

h6 {
    font-family: Arial;
    font-size: 0.6em;
    font-style: italic;
    font-weight: bold;
    color: #1c1774;
    font-kerning: normal;
    line-height: 0.001;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

#desafio { 
    color: #828282 
}

#pc {
    width: 80%;
    margin-top: 0px;
    padding-top:40px;
    border-width: 20px;
    border-color: blue;
    border-style:solid ;
}

.nav{
    width: 100% ;
    height: 90px ;
    background-color: rgb(89, 36, 36);    
    padding-top: 47px;
}

.nav a{
    text-align: center;
    padding: 20px 50px; 
    font-family: Verdana;
    font-weight: bold;
    font-size: 30px;
    color: white;   
    
}

.nav a:hover {
    background-color: rgb(192, 151, 39); 
    clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
    transition: 1.5s ease;
}


.main {
    margin-top: 50px;
    margin-left: 100px;
}

footer {
    background-color: rgb(89, 36, 36);
    width: 100%;
    height: 200px;
}


.quadrado {
  width: 100px;
  height: 100px;
  background-color: red;
}

.circulo {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
}

.triangulo {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid green;
}

.trapezio {
  width: 100px;
  height: 0;
  border-bottom: 100px solid orange;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.pentagono {
  width: 100px;
  height: 100px;
  background-color: purple;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

